* {
  background-color: cadetblue;
  color: rgb(14, 54, 163);
  font-weight: bold;
}

.App {
  font-family: sans-serif;
  text-align: center;
}
.star-ship {
  padding: 10px;
  margin: 10px;
  margin-left: 25%;
  border: 1px solid black;
  /* text-align: left; */
  background-color: rgb(44, 136, 128);
  width: 50%;
  /* align-self: center; */
}
